<h1>Course details</h1>

<label>Name:</label>
<p><%= @course.name %></p>

<br>

<label>Description:</label>
<p><%= @course.description %></p>

<br>

<% if user_signed_in? && current_user.role.name == "Student" && !current_user.student.nil? %>
  <% student = current_user.student %>
  <% if !student.courses.include?(@course) %>
    <%= button_to "Register this course", "%d/register" % [@course.id], method: :post %>
  <% else %>
    <%= button_to "Unregister this course", "%d/unregister" % [@course.id], method: :delete %>
  <% end %>
<% end %>
