<h1>Course details</h1>

<label>Name:</label>
<p><%= @course.name %></p>

<br>

<label>Description:</label>
<p><%= @course.description %></p>

<br>

<% if !@student.nil? %>
  <% if !@student.courses.include?(@course) %>
    <button>
      <%= link_to "Register this course", "%d/register" % [@course.id], data: {turbo_method: :post,} %>
    </button>
  <% else %>
    <button>
      <%= link_to "Unregister this course", "%d/unregister" % [@course.id], data: {turbo_method: :delete,} %>
    </button>
  <% end %>
<% end %>
